<%- include('includes/head') %> <!-- Inclui o cabeçalho comum -->
<%- include('includes/nav') %> <!-- Inclui a barra de navegação -->

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div> <!-- Coluna vazia para layout centralizado -->

    <div class="col-lg-8 my-5">
      <h1 class="display-1 text-center">Erro 404!</h1> <!-- Exibe o título de erro 404 -->
      <p class="text-center lead">A página que você procura não existe.</p> <!-- Mensagem de erro -->
    </div>
    
    <div class="col-lg-2"></div> <!-- Coluna vazia para layout centralizado -->
  </div>
</div>

<%- include('includes/footer') %> <!-- Inclui o rodapé comum -->
